@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');
@import "media";
$main-color: #FF2020;
$second-font: 'Clicker Script', cursive;;
$main-font : 'Jost', sans-serif;
$black-color: #111;
$white-color: #fff;
body{
  font-family: $main-font;
  .page-header{
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $white-color;
    h3{
      font-size: 46px;
      line-height: 1.7;
      font-weight: 700;
    }
    p{
      font-size: 18px;
    }
  }
// ***************************************************************** navbar *********************************************
nav{
  form{
    margin-right: 20px;
    a{
      padding: 0 20px;
      background-color: $main-color;
      color: $white-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover{
        color: $white-color;
      }
    }
    input{
      &:focus{
        box-shadow: none !important;
        border-color: #ced4da !important;
      }
    }
  }
  .nav-link{
    font-size: 16px;
    font-family: $main-font;
    color: $black-color;
    font-weight: 600;
    margin-right: 20px;
    &:hover{
      color: $main-color;
    }
    span{
      padding: 4px 5px;
      font-size: 13px;
      background-color: $main-color;
      color: $white-color;
      top: -7px;
    }
  }
  .nav-link.active{
    color: $main-color !important;
  }
}
// ***************************************************************** home *********************************************
.home{
  .main{
    background-image: url(./image/main.jpg);
    background-position: center;
    margin-top: 80px;
    background-size: cover;
    height: 89vh;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .text{
    span{
      color: $main-color;
      font-family: $second-font;
      font-size: 60px;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 1px;
      display: block;
    }
    h1{
      font-size: 55px;
      font-weight: 700;
      color: #292621;
      line-height: 1.3;
      margin-bottom: 2px;
    }
    p{
      color: #74706B;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 31px;
    }
    a{
      background-color: $black-color;
      color: $white-color;
      font-weight: bold;
      transition: all 0.5s;
      &:hover{
        background-color: $main-color;
      }
    }
  }
  .product{
    h2{
      font-size: 40px;
      font-weight: 700;
    }
    .item{
      position: relative;
      overflow: hidden;
      &:hover{
        .layout{
          opacity: 1;
        }
      }
      img{
        height: 250px;
        object-fit: cover;
        object-position: center;
      }
      p{
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        background-color: $main-color;
        color: $white-color;
        z-index: 10;
      }
      .layout{
        position: absolute;
        top: 0;
        bottom: 64px;
        right: 0;
        left: 0;
        background-color: rgba($color: $black-color, $alpha: 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white-color;
        opacity: 0;
        transition: all 0.5s;
        span{
          color: $white-color;
          padding: 10px;
          background-color: $main-color;
        }
    }
    .info{
      display: flex;
      justify-content: space-between;
      h6{
        color: $main-color;
        font-weight: 700;
      }
    }
  }
  }
  .customer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: #F3EAD8;
    h2{
      font-size: 40px;
      font-weight: 700;
      color: $black-color;
      margin-bottom: 40px;
    }
    p{
      line-height: 1.5;
      padding: 0 200px;
      font-size: 22px;
      color: $black-color;
      font-weight: 400;
    }
    span{
      color: #8b8b8a;
      font-weight: 700;
      line-height: 1.5;
    }
    i{
      color: $black-color;
      font-size: 30px;
    }
  }
  .news{
    background-color: #F6F6F6;
    h2{
      font-size: 40px;
      font-weight: 700;
    }
    .blog {
      overflow: hidden;
      text-align: center;
      &:hover{
        img {
          transform: scale(1.05);
        }
        strong{
          color: $main-color;
        }
      }
      img {
        cursor: pointer;
        transition: transform 0.5s;
      }
      .header , strong {
        font-size: 20px;
        font-weight: bold;
      }
      strong{
        text-decoration: underline;
        transition: color 0.5s;
      }
    }
  }
  .services{
    h3{
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 12px;
      color: $black-color;
    }
    p{
      color: #57667e;
      font-weight: 500;
      font-size: 20px;
    }
   
  }
  .errorSearch{
    height: 300px;
    i{
    color: $main-color;
    }
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $white-color;
    z-index: 59864875;
    .loader {
      width: 48px;
      height: 48px;
      background: $main-color;
      display: block;
      margin: 20px auto;
      position: relative;
      box-sizing: border-box;
      animation: rotationBack 1s ease-in-out infinite reverse;
      &::before {
        content: '';  
        box-sizing: border-box;
        left: 0;
        top: 0;
        transform: rotate(45deg);
        position: absolute;
        width: 48px;
        height: 48px;
        background: $main-color;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      }
      &::after {
        content: '';  
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        background: $white-color;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      }
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }
}
//*********************************************************  Footrt ***********************************************
.footer {
  background-color: $black-color;
  .btn-bg {
    background-color: $main-color;
    color: $white-color !important;
    transition: all 0.5s;
    &:hover {
      background-color: $white-color;
      color: $main-color !important;
    }
  }
  .categories {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 15px;
      text-decoration: none;
      color: #aaa;
      transition: all 0.5s;
      &:hover {
        color: $main-color;
      }
    }
  }
  .social i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    @extend .btn-bg
  }
  span{
    color: $main-color;
  }
}
//****************************************************  detalies ****************************************************
.detalies{
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $white-color;
    z-index: 59864875;
    .loader {
      width: 48px;
      height: 48px;
      background: $main-color;
      display: block;
      margin: 20px auto;
      position: relative;
      box-sizing: border-box;
      animation: rotationBack 1s ease-in-out infinite reverse;
      &::before {
        content: '';  
        box-sizing: border-box;
        left: 0;
        top: 0;
        transform: rotate(45deg);
        position: absolute;
        width: 48px;
        height: 48px;
        background: $main-color;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      }
      &::after {
        content: '';  
        box-sizing: border-box;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        background: $white-color;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      }
      @keyframes rotationBack {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }
  .cart {
    background-color: $main-color;
    color: $white-color !important;
    transition: all 0.5s;
    font-weight: bold;
    border: 2px solid $main-color;
    &:hover {
      background-color: $white-color;
      color: $main-color !important;
      border: 2px solid $main-color;
    }
  }
  p{
    font-size: 20px;
  }
  strong{
    color: $main-color;
    margin-bottom: 10px;
    span{
      color: $black-color;
    }
  }
  button{
    @extend .cart;
  }
  a{
    @extend .cart;
  }
}
//****************************************************  categories ****************************************************
.categories{
  a{
    text-decoration: none;
    color: $black-color;
    .cat{
      transition: all 0.5s;
      &:hover{
        background-color: $main-color;
        color: $white-color;
      }
      h3{
        font-weight: 700;
      }
    }
  }
  
}
// ****************************************************  contact ************************************************
.contact{
  .form-control{
    &:focus{
      box-shadow: none;
      border-color: $main-color;
    }
  }
  button{
    background-color: $main-color;
    border: 2px solid $main-color;
    color: $white-color;
    transition: all 0.5s;
    &:hover{
      color: $main-color;
      background-color: transparent;
      border-color: $main-color;
    }
  }
  i{
    color: $main-color;
  }
}
// ****************************************************  detalies message ************************************************
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 200px;
  width: 400px;
  top: 100%;
  left: 50%;
  z-index: 1000000000;
  transform: translate(-50% , -50%);
  background-color: rgba($color: $black-color, $alpha: 0.9);
  i{
    color: $main-color;
    font-size: 60px;
  }
  h4{
    color: $white-color;
    font-weight: 700;
  }
}
// ****************************************************  cart message ************************************************
.emptyCart{
  a{
    background-color: $main-color;
    border: 2px solid $main-color;
    color: $white-color;
    transition: all 0.5s;
    &:hover{
      color: $main-color;
      background-color: transparent;
      border-color: $main-color;
    }
  }
}
// ****************************************************  cart detalies ************************************************
.cart{
  img{  
    object-fit: cover;
    object-position: center;
  }
  .price{
    color: $main-color;
  }
  .total{
    span{
      color: $main-color;
    }
    a{
      background-color: $main-color;
      border: 2px solid $main-color;
      color: $white-color;
      transition: all 0.5s;
      &:hover{
        color: $main-color;
        background-color: transparent;
        border-color: $main-color;
    }
  }
}
}
}